body{
    padding: 13% 15% 0% 15%;
    background-color: black;
}
button {
    height: 60px;
    font-size: 1.2em;
    border-style: none;
    background-color: rgb(37, 35, 35);
    color: white;
    border: 2px solid rgb(143, 143, 143);
    width: 25%;
    margin: 0 5px;
}
button:hover {
    color: aliceblue;
    background-color: rgb(87, 85, 85);
    cursor: pointer;
    border: 2px solid white;
}
button:active{
    position: relative;
    top: 5px;
}
.kalkulator {
    text-align: center;
    position: relative;
    top: 15px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
}
.screen {
    width: 100%;
    padding: 20px;
    text-align: right;
    font-size: 1.2em;
    color: black;
    box-sizing: border-box;
}
.sec-screen {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-align: right;
    font-size: 1.2em;
    color: black;
    box-sizing: border-box;
}
.keys {
    width: 100%;
    display: grid;
    background-color: black;
}
.keys > button:nth-child(17) {
    grid-column: 1/3;
}
.operator, .persent, .delete {
    color: chartreuse;
}
.equel {
    background-color: chartreuse;
}
.equel:hover {
    background-color: rgb(175, 253, 97);
}
.clear {
    color: orange;
}
.container {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    display: flex;
}
